<div class="card">
  <div class="container">
<%= render 'task' %>
<%= link_to 'Edit', edit_user_task_path(user_id: @task.user.id,
  id: @task.id) %> |
<%= link_to 'Back', user_tasks_path(@user) %>
</div>
</div>
