<% if attr.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% attr.errors.full_messages.each do |msg| %>
      <li class="alert alert-warning"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
