<footer class="footer">
  <small>
    The <a href="#">To-do App</a>
    by <a href= '#'>Na Nazhou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
